/* Застосування стилів до body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }
  
  /* Стилі для заголовків */
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  
  /* Основний фон та стилі для hero секції */
  .hero {
    background-color: #2a2a2a;
    color: #ffffff;
    text-align: center;
    padding: 50px;
  }
  
  .order-button {
    background-color: #4e89f8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Секція особливостей */
  .features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .features h3 {
    font-weight: 700;
  }
  
  .features p {
    font-weight: 400;
  }
  
  /* Секція "Наша команда" */
  .team {
    text-align: center;
    padding: 20px;
  }
  
  .team ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .team li {
    text-align: center;
  }
  
  .team img {
    width: 264px;
  }
  